DATABASE_URL="file:./dev.db"

MAIL_FROM=hello@fupiz.local
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
FRONTEND_URL=http://localhost:4200
ACCOUNT_ACTIVATION_TTL_HOURS=24
